<div class="container">
  <div class="d-flex align-items-center mb-3">
    <h2 class="mr-3">En cours</h2>
    <%= link_to  icon('fas', 'plus', 'Ajouter'), new_task_path %>
  </div>

  <% @tasks.each do |task| %>
    <div class="card">
      <div class="card-header">
        <div class="d-flex align-items-center">
          <div class="mr-3">
            <%= task.completed ? icon('fas', 'check-square') : icon('far', 'square') %>
          </div>
          <div class="flex-grow-1">
            <h3><%= task.title %></h3>
          </div>
          <div>
            <%= link_to icon('fas', 'edit'), edit_task_path(task) %>
            <%= link_to icon('fas', 'times'), task_path(task) , method: :delete, data: { confirm: "Supprimer la tâche ?"}, class: 'delete-icon' %>
          </div>
        </div>
      </div>
      <div class="card-body list-group list-group-flush py-2 px-3">
        <% task.subtasks.order("id").each do |subtask| %>
          <div class="d-flex list-group-item">
            <div class="mx-3 d-flex align-items-center">
              <% if subtask.completed %>
                <%= link_to icon('fas', 'check-square'), task_subtask_toggle_completed_path(task, subtask), method: :patch, class: "mark_uncompleted" %>
              <% else %>
                <%= link_to icon('far', 'square'), task_subtask_toggle_completed_path(task, subtask), method: :patch, class: "mark_completed" %>
              <% end %>
            </div>
            <div class="flex-grow-1">
              <p class="my-1"><%= subtask.content %></p>
            </div>
            <div>
              <%= link_to icon('fas', 'edit'), edit_task_subtask_path(task, subtask) %>
              <%= link_to icon('fas', 'times'), task_subtask_path(task, subtask) , method: :delete, data: { confirm: "Supprimer la sous-tâche ?"} %>
            </div>
          </div>
        <% end %>
        <div class="add-subtask list-group-item mx-3">
          <%= link_to icon('fas', 'plus', 'Ajouter une sous-tâche', class: "icon-mr"), new_task_subtask_path(task.id) %>
        </div>
      </div>
    </div>
  <% end %>
</div>
