<!DOCTYPE html>
<html>
  <head>
    <title>ReculistRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">
      <%= link_to  "New", new_task_path %>
      <%= link_to root_path do %>
        <h1>Reculist</h1>
      <% end %>
      <% if current_user %>
        <%= link_to  "My tasks", tasks_path %>
      <% else %>
        <%= link_to  "Log in", new_user_session_path %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
