<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Reculist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="content flex">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <%= link_to  "Reculist", root_path, class: "navbar-brand" %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item">
                <%= link_to  "Mes listes", tasks_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <!--<%= link_to  "Timeline", root_path, class: "nav-link" %>-->
                <a class="nav-link" href="#">Timeline</a>
              </li>
            </ul>
          </div>
          <div class="collapse navbar-collapse justify-content-end" id="navbarToggler">
            <% if current_user %>
              <%= link_to  "Mes listes", tasks_path %>
            <% else %>
              <%= link_to  "Se connecter", new_user_session_path %>
            <% end %>
          </div>
        </div>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
